<!-- header -->
<%- include('partials/homeHeader', {user: user}); %>
<!-- /header -->

<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="images/banner/banner-1.jpg">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /hero slider -->

<!-- banner-feature -->
<section class="bg-gray overflow-md-hidden">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5 align-self-end">
        <img class="img-fluid w-100" src="images/banner/banner-feature.svg" alt="banner-feature">
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="row feature-blocks bg-gray justify-content-between">
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">New Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad</p>
          </div>
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-blackboard mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Most View Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /banner-feature -->

<!-- about us -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 order-2 order-md-1">
        <h2 class="section-title">Most Subscribed Category</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
        <p>cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
        <a href="about.html" class="btn btn-primary-outline">Learn more</a>
      </div>
      <div class="col-md-5 order-1 order-md-2 mb-4 mb-md-0">
        <!-- Category banner -->
      </div>
    </div>
  </div>
</section>
<!-- /about us -->

<!-- courses -->
<section class="section-sm" id="course">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Our Course</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs" id="course-nav">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#all">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#web-dev">Web Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#mobile-dev">Mobile Development</a>
      </li>
    </ul>
    
    <div class="tab-content" id="course-nav--content">
      <div id="all" class="tab-pane fade in show active">
        <div class="container my-4">
          <hr class="my-4">
          <!--Carousel Wrapper-->
          <div id="course-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <div class="row">
                  <!-- course item -->
                  <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card mb-2 border-primary rounded-0 hover-shadow">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                      <div class="card-body">
                        <h4 class="course-title">Programming</h4>
                        <ul class="list-inline my-2">
                          <li class="list-inline-item">Kirill Eremenko</li>
                          <li class="list-inline-item">Hadelin de Ponteves</li>
                        </ul>
                        <div class="course-rating mb-2">
                          <p class="rating-point">5.0</p>
                          <div class="rating-star">
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                          </div>
                          <div class="rating-user">
                            (1.000.000)
                          </div>
                        </div>
                        <div class="course-pricing">
                          $50
                          <div class="original-price ml-1">
                            $100
                          </div>
                        </div>
                    </div>
                    <div class="card-footer mt-2">
                      Best seller
                    </div>
                  </div>
                </div>
                <!-- /course item -->
              <!--/.First slide-->
              <a href="#course-carousel" role="button" data-slide="prev" class="float-btn float-btn--left">
                <i class="fas fa-angle-left"></i>
              </a>

              <a href="#course-carousel" role="button" data-slide="next" class="float-btn float-btn--right">
                <i class="fas fa-angle-right"></i>
              </a>
            
            </div>
            <!--/.Slides-->
      
          </div>
          <!--/.Carousel Wrapper-->
      </div>

      <div id="web-dev" class="tab-pane fade">

      </div>
      
      <div id="mobile-dev" class="tab-pane fade">
    
      </div>
    </div>
  </div>
</section>
<!-- /courses -->

<% if (!user) {%>
  <!-- Become instructor -->
  <section class="section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="text-white font-secondary mb-0">Instructors from around the world teach millions of students on Educenter. We provide the tools and skills to teach what you love.</h6>
          <h2 class="section-title text-white">Become an instructor</h2>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#instructorModal">
            start teaching today
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- /Become instructor -->

  <!-- Instructor Modal -->
  <div class="modal" id="instructorModal">
    <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">Become a Educenter Instructor!</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div id="instructorModalAlert" class="" role="alert">
            </div>
            <p class="mb-3">Discover a supportive community of online instructors. Get instant access to all course creation resources.</p>
            <form id="instructorRegisterForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="name"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Create Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  class="form-control"
                  placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                />
              </div>
              <button id="instructorRegisterBtn" type="submit" class="btn btn-primary btn-block">
                Register
              </button>
            </form>
          </div>
      </div>
    </div>
  </div>
  <!-- /Instructor Modal -->

  <!-- success story -->
  <section class="section bg-cover" data-background="images/backgrounds/success-story.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-4 position-relative success-video">
          <a class="play-btn venobox" href="https://youtu.be/nA1Aqp0sPQo" data-vbtype="video">
            <i class="ti-control-play"></i>
          </a>
        </div>
        <div class="col-lg-6 col-sm-8">
          <div class="bg-white p-5">
            <h2 class="section-title">Success Stories</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /success story -->

  <!-- events -->
  <section class="section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">Upcoming Events</h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
            <div>
              <a href="events.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
    <!-- event -->
    <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card border-0 rounded-0 hover-shadow">
        <div class="card-img position-relative">
          <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="event thumb">
          <div class="card-date"><span>18</span><br>December</div>
        </div>
        <div class="card-body">
          <!-- location -->
          <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
          <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
        </div>
      </div>
    </div>
    <!-- event -->
    <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card border-0 rounded-0 hover-shadow">
        <div class="card-img position-relative">
          <img class="card-img-top rounded-0" src="images/events/event-2.jpg" alt="event thumb">
          <div class="card-date"><span>21</span><br>December</div>
        </div>
        <div class="card-body">
          <!-- location -->
          <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
          <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
        </div>
      </div>
    </div>
    <!-- event -->
    <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card border-0 rounded-0 hover-shadow">
        <div class="card-img position-relative">
          <img class="card-img-top rounded-0" src="images/events/event-3.jpg" alt="event thumb">
          <div class="card-date"><span>23</span><br>December</div>
        </div>
        <div class="card-body">
          <!-- location -->
          <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
          <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
        </div>
      </div>
    </div>
  </div>
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="course.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /events -->

  <!-- teachers -->
  <!-- /teachers -->

  <!-- blog -->
  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">Latest News</h2>
        </div>
      </div>
      <div class="row justify-content-center">
    <!-- blog post -->
    <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/blog/post-1.jpg" alt="Post thumb">
        <div class="card-body">
          <!-- post meta -->
          <ul class="list-inline mb-3">
            <!-- post date -->
            <li class="list-inline-item mr-3 ml-0">August 28, 2018</li>
            <!-- author -->
            <li class="list-inline-item mr-3 ml-0">By Somrat Sorkar</li>
          </ul>
          <a href="blog-single.html">
            <h4 class="card-title">Lorem ipsum dolor amet, adipisicing eiusmod tempor.</h4>
          </a>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
          <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
        </div>
      </div>
    </article>
    <!-- blog post -->
    <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/blog/post-2.jpg" alt="Post thumb">
        <div class="card-body">
          <!-- post meta -->
          <ul class="list-inline mb-3">
            <!-- post date -->
            <li class="list-inline-item mr-3 ml-0">August 13, 2018</li>
            <!-- author -->
            <li class="list-inline-item mr-3 ml-0">By Jonathon Drew</li>
          </ul>
          <a href="blog-single.html">
            <h4 class="card-title">Lorem ipsum dolor amet, adipisicing eiusmod tempor.</h4>
          </a>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
          <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
        </div>
      </div>
    </article>
    <!-- blog post -->
    <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/blog/post-3.jpg" alt="Post thumb">
        <div class="card-body">
          <!-- post meta -->
          <ul class="list-inline mb-3">
            <!-- post date -->
            <li class="list-inline-item mr-3 ml-0">August 24, 2018</li>
            <!-- author -->
            <li class="list-inline-item mr-3 ml-0">By Alex Pitt</li>
          </ul>
          <a href="blog-single.html">
            <h4 class="card-title">Lorem ipsum dolor amet, adipisicing eiusmod tempor.</h4>
          </a>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
          <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
        </div>
      </div>
    </article>
  </div>
    </div>
  </section>
  <!-- /blog -->
<% } %>